.listItem {
  position: relative;
  padding: 8px;
  border-radius: 3px;
}

.listItem:hover {
  background-color: #efefef;
}

.listItem .editIcon {
  width: 50px;
  display: none;
}

.listItem:hover .editIcon {
  display: flex;
}